<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About PrimeTech Foundation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles/patnership.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/about.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/Photos/logo New.png' %}"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="#"><img src="{% static 'core/Photos/logo New.png' %}" alt="Primetech Foundation Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}" class="active">About Us</a></li>
            <li><a href="{% url 'courses' %}">Explore Courses</a></li>
            <li><a href="{% url 'patnership' %}"> Partner with us</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
            <li class="nav-item2">
              <a class="btn-login" href="{% url 'login' %}">Login/Sign up</a>
            </li>
          </ul>
          <div class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </div>
    </header>

    <!-- Our story section -->
    <div class="our-story-container" data-aos="fade-right">
      <div class="story-text">
        <h1>Our Story</h1>
        <p>
          Millions of youths in slum areas face unemployment due to a lack of technical skills and opportunities.
          PrimeTech Foundation aims to bridge this gap by equipping them with digital skills, thereby increasing their chances of securing remote jobs, freelancing opportunities, or starting their own tech-based ventures.
        </p>
        <p>
          Through our programs, we empower young people to unlock their potential, build sustainable careers, and contribute to the growth of their communities. Our commitment is to create lasting impact by fostering innovation, mentorship, and access to technology for all.
        </p>
        <a href="{% static 'core/docs/PrimeTech Foundation Story.pdf' %}" target="_blank" class="btn-read-more">Read More</a>
      </div>
      <img src="{% static 'core/Photos/about us.jpg' %}" alt="Our Journey" class="story-image" />
    </div>

    <div class="mission-vision-container">
      <div class="mission" data-aos="fade-up">
        <h1>Our Mission</h1>
        <p>
          To empower youths in slum areas with digital skills, fostering
          self-employment and reducing unemployment.
        </p>
      </div>
      <div class="vision" data-aos="fade-up" data-aos-delay="200">
        <h1>Our Vision</h1>
        <p>
          A world where every youth has access to digital education and
          opportunities for economic growth.
        </p>
      </div>
    </div>

    <div class="objectives-container" data-aos="fade-up">
      <h1>Our Objectives</h1>
      <ol>
        <li data-aos="zoom-in">Provide digital skills training to 500+ youths annually.</li>
        <li data-aos="zoom-in" data-aos-delay="100">Facilitate mentorship and career guidance.</li>
        <li data-aos="zoom-in" data-aos-delay="200">Partner with companies to offer internship and job placement opportunities.</li>
        <li data-aos="zoom-in" data-aos-delay="300">Support graduates in launching digital startups.</li>
        <li data-aos="zoom-in" data-aos-delay="400">Promote digital inclusion and technology-driven solutions in underprivileged communities.</li>
      </ol>
    </div>

    <div class="Heading" data-aos="fade-up">
      <h1>Our Team</h1>
    </div>

    <div class="team-container" data-aos="fade-up"><a href="#"><img src="{% static 'core/Photos/logo New.png' %}" alt="Primetech Foundation Logo" /></a>
      <div class="team-member" data-aos="fade-up" data-aos-delay="100">
        <img src="{% static 'core/Photos/Ronald2.jpg' %}" alt="Ronald Wandili-Founder" />
        <h2>Ronald Wandili</h2>
        <p>Founder & CEO</p>
      </div>
      <div class="team-member" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'core/Photos/sharon.jpg' %}" alt="Sharon Jepkemoi-Co-founder" />
        <h2>Sharon Jepkemoi</h2>
        <p>Co-founder & Instructor</p>
      </div>
      <div class="team-member" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'core/Photos/ian2.jpg' %}" alt="Ian Githinji-Co-founder" />
        <h2>Ian Githinji</h2>
        <p>Co-founder & Instructor</p>
      </div>
            <div class="team-member" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'core/Photos/Margaret.jpg' %}" alt="Margaret Akinyi" />
        <h2>Margaret Akinyi</h2>
        <p>Instructor</p>
      </div>
            <div class="team-member" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'core/Photos/seth.jpg' %}" alt="Seth Omondi Otieno-Intructor" />
        <h2>Seth Omondi</h2>
        <p>Instructor</p>
      </div>
    </div>

    <div class="contact-container" data-aos="fade-up">
      <h1>Contact Us</h1>
      <p>If you have any questions or would like to get involved, feel free to reach out!</p>
      <a href="{% url 'contact' %}" class="btn btn-orange">Contact Us</a>
    </div>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>About Primetech Foundation</h3>
                    <p>To empower youths in slum areas with digital skills, fostering self-employment and reducing unemployment.</p>
                </div>
                <div class="footer-section">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'patnership' %}">Patner With Us</a></li>
                        <li><a href="{% url 'courses' %}">Our Courses</a></li>
                        <li><a href="{% url 'login' %}">Join us Today</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                  <div class="footer-contact">
                    <h3>Contact Us Today</h3>
                    <p>
                        <a href="mailto:info@primetechfoundation.org">info@primetechfoundation.org</a>
                    </p>
                    <p>
                        <a href="tel:+254794206054">+254 794 206054</a>
                    </p>
                  </div>  
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-x"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>©2025 Primetech Foundation. All rights reserved.</p>
            </div>
        </div>
    </footer>
 
    <!--Back to top button-->
    <button id="backToTop" title="Go to top">&#8679;</button>

    <!--scripts-->
    <script src="{% static 'core/scripts/patnership.js' %}"></script>
    <script>
      window.onscroll = function () {
        document.getElementById("backToTop").style.display =
          document.body.scrollTop > 200 || document.documentElement.scrollTop > 200
            ? "block"
            : "none";
      };
      document.getElementById("backToTop").onclick = function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
      };
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        once: true,
      });
    </script>
  </body>
</html>
