{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete - PrimeTech Foundation</title>
    <link rel="stylesheet" href="{% static 'core/styles/login.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'core/Photos/logo New.png' %}" alt="Primetech Foundation Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'courses' %}">Explore Courses</a></li>
                    <li><a href="{% url 'patnership' %}">Partner with us</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                    <li class="nav-item2">
                        <a class="btn-login" href="{% url 'login' %}">Login/Sign up</a>
                    </li>
                </ul>
                <div class="mobile-menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <div class="login-container">
        <div class="forms-container">
            <h2>Password Reset Complete</h2>
            <p>Your password has been set. You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="btn">Log In</a>
        </div>
    </div>
</body>
</html>